

body {
    background-color: #000000;
    color: #fff;
    min-width: 320px;
}

#profilepic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}

.aboutme {
    padding: 0 30px ;
}

.card-img-top{
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.card {
    height: 90vh;
    width: 45vh;
    margin: 0 2%;
    background-color: black;
    border: 1px solid white;
}

.card:hover {
    box-shadow: 0 3px red;
}

.card-text {
    font-size:  13px;
}

.row {
    margin: 2% 0;
}

.badge {
    margin: 10px 5px 10px 0;
}

hr {
    color : white;
    width: 100%;
    height: 10px;
}
 .fa-neos {
    color: red;
}

/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width:640px){ 
    .row{
        flex-direction: column;
    }

    .card {
        width: 50vh;
        height: 100vh;
        margin-bottom: 5%;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 641px)  and (max-width:991px){ 
    .card {
        width : 55vh;
        height: 100vh;
        margin: 10px 20px;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px)  and (max-width:1199px) {
    .card-text {
        font-size: 13px;
    }
    .card {
        height: 105vh;
        width: 45vh;
        margin-top: 30px;
        background-color: black;
        border: 1px solid white;
    }

    .row {
        display: inline; 
        float: left;
    }
    #profilepic {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
     .agCollection {
         display: inline;
    }

    .aboutme p {
        font-size: 15px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    .card {
        height: 100vh;
        width: 45vh;
        margin: 0 2%;
        background-color: black;
        border: 1px solid white;
    }
    
    .card-text {
        font-size: 13px;
    }
}


