body {
    background-color: #000000;
    color: #fff;
    min-width: 320px;
    margin: auto;
}

.agCollection {
    align-items: center;
}

.agCollection img {
    width: 10%;
    height: 100px;
    object-fit: fit;
    border-radius: 100%;
}

.aboutme {
    width: 90%;
    padding: 0 15px ;
}

.card-img-top{
    height: 30vh;
    width: 100%;
    object-fit: fit;
}

.card {
    background-color: #000000;
    border: 1px solid #fff;
    margin-top: 10px ;
    
}

.card-body {
    height: 60vh;
}

.card:hover {
    box-shadow: 0 3px red;
}

.card-text {
    font-size:  13px;
}

.row {
    margin: 2% 0;
}

.badge {
    margin: 10px 5px 10px 0;
}

 .fa-neos {
    color: red;
}

.card-footer {
    background-color: #000000;
}

@media (min-width:356px) {
    .card-columns {
      column-count: 1;
    }

    .card-body {
        height: 50vh;
    }

    .card-text {
        font-size: 16px;
    }  
 
}

@media (min-width:576px) {
    .card-columns {
        column-count: 2;
      }
  
      .card-text{
          font-size: normal;
      }
  
      .card-body {
          height: 65vh;
      }
    
    
}
  @media (min-width:768px) {
    .card-columns {
      column-count: 2;
    }

    .card-text{
        font-size: large;
    }

    .card-body {
        height: 55vh;
    }
    
}
@media (min-width:992px) {
    .card-columns {
      column-count: 2;
    }
    .card-text{
        font-size: normal;
        
    }
    .card-body {
        height: 45vh;
    }

   
}
@media (min-width:1200px) {
    .card-columns {
      column-count: 4;
    }
    .card-text{
        font-size: normal;
        
    }

    .card-body {
        height: 60vh;
    }
    
    
}